<div class="card text-white mb-3" style="max-width: 18rem;">
    <div class="card-header text-center">
        <h5>Carrinho</h5>
        <!-- <h6>( {{ order.quantity}} </h6>
        <h6 [hidden]= "orders.productOrders.length == 0"> item )</h6>
        <h6 [hidden]= "orders.productOrders.length == 1"> itens )</h6> -->
    </div>
    <div class="card-body2" [hidden]="orders.productOrders.length !== 0">
        <img src="../assets/cart-icon.svg">
        <h6>Até o momento,<br> o seu carrinho está vazio</h6>
    </div>
    <div class="card-body" [hidden]="orders.productOrders.length == 0">
        <ul>
            <li>
                <div class="order-content" *ngFor="let order of orders.productOrders"
                    (mouseenter)="order.remove_item = true" (mouseleave)="order.remove_item = false">
                    <img src={{order.product.image}}>
                    <div>
                        <h6>{{ order.product.name }}</h6>
                        <br>
                        <h6 style="color:black"><strong>R$ {{ order.product.price}} x {{order.quantity}}</strong></h6>
                    </div>
                    <div *ngIf="order.remove_item">
                        <button *ngIf="isProductSelected(order.product)" class="btn-custom btn-primary"
                            (click)="removeFromCart(order)">X</button>
                    </div>

                </div>
            </li>
        </ul>
        <div class="card-content">
            <h6>Subtotal</h6>
            <h6 style="color: black; text-align: right;">R${{ subTotal | currency: 'BRL': true}}</h6>
        </div>
        <div class="card-content">
            <h6>Frete</h6>
            <h6 style="color: black; text-align: right;">{{ sumFrete | currency: 'BRL': true}}</h6>
        </div>
        <div class="card-content">
            <h6>Total</h6>
            <h4 style="color: black; text-align: right;"> {{ total | currency: 'BRL': true}}</h4>
        </div>
        <button class="btn btn-primary btn-block" (click)="finishOrder()"
            [disabled]="orders.productOrders.length == 0">Finalizar compra
        </button>
    </div>
</div>