.card {
    border: 1.3px solid #e1e1e1;
}
.card-header h5 {
  color: black;
  float: left;
  font-weight: 700;
  margin-right: 5px;
}
.card-header{
    padding: 20px 20px 0px 20px;
    border-bottom: transparent;
}
.card-header, .card-body {
    background-color: #ffffff;
}
.card-body h6 {
  color: black;
}
.card-body2 {
    display: inline-block;
    text-align: center;
    padding: 60px 10px;
    color: #847a7a;
}
.card-body2 img {
    margin-bottom: 20px;
}
ul {
  padding: 0;
  display: flex;
  display: block;
}

ul li {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
}

ul li img {
  width: 70px;
  float: left;
  background-color: #eeeeee;
  margin-right: 10px;
  padding: 10px 10px;
  border-radius: 5px;
}

ul li h6 {
    float: right;
    display: contents;
    color: #847a7a;
}
.btn-custom {
    width: 20px; 
    height: 20px; 
    float: right; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center;
}
.card-content {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  height: auto;
  color: #847a7a !Important;
}
.order-content {
  display: grid;
  grid-template-columns: auto auto auto;
}
