<h2 class="text-center">PEDIDOS</h2>
<ul>
    <li>
        <div class="card-header"  *ngFor="let order of orders.productOrders">
            <img src="{{order.product.image}} "> {{ order.product.name }} - ${{ order.product.price }} x
            {{ order.quantity}}.
        </div>
    </li>
</ul>
<h3 class="text-right">Total do pedido: {{ total | currency: 'BRL': true}}</h3>

<button class="btn btn-primary" (click)="pay()" *ngIf="!paid">Pagar</button>
<button class="btn btn-secondary"><a href="/products">Voltar</a></button>

<div class="alert alert-success" role="alert" *ngIf="paid">
    <strong>Parabéns!</strong> Compra concluida!
</div>